.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
  text-align: justify;
  padding: 20px;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #228b9e;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btn:hover {
  background: #5a878f;
  cursor: pointer;
}
